# This is the build configuration file.
#
# Here you can customize various settings of the client build.

# Version of the build.
set(PACKAGE_VERSION "2.0")

# Name of the build.
set(PACKAGE_NAME "Atrinik Client")

# Disable optimization?
set(DISABLE_OPTIMIZING false)

# Disable turning code warnings into errors?
set(DISABLE_WARNING_ERRORS false)

# What package type to build with 'make package'. One of:
#  - none: Build no package.
#  - deb:  Build .deb package.
#  - nsis: Build NSIS Windows installer.
#  - rpm:  Build .rpm package.
set(PACKAGE_TYPE "deb")
