<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<CodeBlocks_project_file>
	<FileVersion major="1" minor="6" />
	<Project>
		<Option title="Atrinik Server" />
		<Option pch_mode="0" />
		<Option default_target="Release" />
		<Option compiler="gcc" />
		<Build>
			<Target title="Release">
				<Option output="..\..\atrinik_server.exe" prefix_auto="0" extension_auto="0" />
				<Option working_dir="..\..\..\server" />
				<Option type="1" />
				<Option compiler="gcc" />
				<Option projectResourceIncludeDirsRelation="0" />
				<ExtraCommands>
					<Add before="flex.exe -i -Pyy_object -o..\..\src\loaders\object.c  ..\..\src\loaders\object.l" />
					<Add before="flex.exe -i -Pyy_random_map -o..\..\src\loaders\random_map.c  ..\..\src\loaders\random_map.l" />
					<Add before="flex.exe -i -Pyy_map_header -o..\..\src\loaders\map_header.c  ..\..\src\loaders\map_header.l" />
				</ExtraCommands>
			</Target>
		</Build>
		<VirtualTargets>
			<Add alias="All" targets="Release;" />
		</VirtualTargets>
		<Compiler>
			<Add option="-D_CONSOLE" />
			<Add option="-DWIN32" />
			<Add option="-DDEBUG" />
			<Add option="-DMINGW" />
			<Add option="-DCURL_STATICLIB" />
			<Add option="-O3" />
			<Add directory="..\..\src\include" />
			<Add directory="..\..\src\toolkit\include" />
			<Add directory="..\..\src\random_maps" />
			<Add directory="..\..\src\tests" />
			<Add directory="share\include" />
		</Compiler>
		<Linker>
			<Add library="mingw32" />
			<Add library="wsock32" />
			<Add directory="share\lib" />
			<Add option="-s" />
			<Add library="curl" />
			<Add library="zdll" />
			<Add library="libwsock32.a" />
			<Add library="libwinmm.a" />
			<Add library="libpthread.a" />
		</Linker>
		<Unit filename="README" />
		<Projectunits />
		<Extensions>
			<envvars />
			<lib_finder />
		</Extensions>
	</Project>
</CodeBlocks_project_file>
