# All text files should be LF by default.
* text eol=lf

# Binary files
*.xm binary
*.mod binary
*.otf binary
*.mid binary
*.ogg binary
*.s3m binary
*.gz binary
*.ttf binary
*.exe binary
*.p0 binary
*.jar binary
*.png binary
*.jpg binary
