/workspace/
/build/
/.atrinik-clone-*/
/client/
/content/
/devcontainer/
/editor/
/github-settings/
/libatrinik/
/metaserver-worker/
/protocol/
/resources/
/server/
/sound/
/tools/
*.log
*.py[cod]
__pycache__/
.venv/
