# General
.dedit
*.log
*.pyc
arch/animations
arch/animtree
arch/archetypes
arch/artifacts
arch/atrinik.0
arch/bmaps
arch/facetree
arch/treasures
server/data
server/lib
editor/*.conf
tools/map-checker/config.cfg
codeblocks.txt
visualc*.txt
logfile.log
server/unit/**/*.out
server/unit/**/*.xml
./server/tools/upgrade/config.cfg
*.db
__pycache__
server-custom.cfg
config-custom.cfg
permissions-custom.cfg
*.jar
*.tar.gz
*.mp3
*.ogg
*.s3m
*.mod
*.xm
*.mid
client/sound
arch/dev/editor/pickmaps/*/*
maps/interfaces/**/*.py
maps/python/InterfaceQuests.py

# GNU/Linux
core
core.*
server/src/loaders/*.c
*.o
*.so
server/atrinik-server
CMakeCache.txt
CMakeFiles
cmake.h
toolkit_cmake.h
cmake_install.cmake
client/atrinik
*.kdev*
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.deb
*.rpm
install_manifest.txt
Makefile
build.user
.directory

# Win32
Thumbs.db
desktop.ini
*.exe
client/stdout.txt
client/stderr.txt
*.cbTemp
*.depend
.objs
Release
pthread.h
sched.h
semaphore.h
*.dll
*.layout
**/CodeBlocks/bin
**/CodeBlocks/include
**/CodeBlocks/lib
client/timidity/
client/timidity.cfg
