# This is the build configuration file.
#
# Here you can customize various settings of the Atrinik build.
#
# Note that if you are using the Git branch repository, you might want
# to create a build.user file and override the defaults setting here in
# that file, as the build.user file will be ignored by Git, thus your
# changes will not be committed to the repository.

# Version of the build.
set(PACKAGE_VERSION "4.0")

set(PACKAGE_VERSION_MAJOR 4)
set(PACKAGE_VERSION_MINOR 0)
set(PACKAGE_VERSION_PATCH 0)

# Build type.
set(CMAKE_BUILD_TYPE "Debug")

# Turn code warnings into errors?
set(ENABLE_WARNING_ERRORS false)

# Enable various extra warnings?
set(ENABLE_EXTRA_WARNINGS false)

# Enable aggressive warnings?
set(ENABLE_AGGRESSIVE_WARNINGS false)

# Enable stack protection?
set(ENABLE_STACK_PROTECTOR true)

# Custom warnings.
set(CUSTOM_WARNINGS)

# What package type to build with 'make package'. One of:
#  - none: Build no package.
#  - deb:  Build .deb package.
#  - nsis: Build NSIS Windows installer.
#  - rpm:  Build .rpm package.
set(PACKAGE_TYPE "deb")
