Source: atrinik
Section: games
Priority: extra
Maintainer: Alex Tokar <admin@atokar.net>
Build-Depends: debhelper (>= 7), libsdl-image1.2-dev (>= 1), libsdl-mixer1.2-dev (>= 1), libcurl4-openssl-dev (>= 7), libsdl1.2-dev (>= 1), libsdl-ttf2.0-dev (>= 1), zlib1g-dev (>= 1), cmake, cdbs, libxmu-dev, libx11-dev
Standards-Version: 3.8.4
Homepage: http://www.atrinik.org/

Package: atrinik
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libsdl-image1.2 (>= 1), libsdl-mixer1.2 (>= 1), libsdl1.2debian (>= 1), libcurl3 (>= 7), libsdl-ttf2.0-0 (>= 1), timidity (>= 1), zlib1g (>= 1), libxmu6, libx11-6
Description: Atrinik game client.
 .
 Homepage: http://www.atrinik.org/
