# This is the build configuration file.
#
# Here you can customize various settings of the server build.

# Version of the build.
set(PACKAGE_VERSION "2.0")

# Name of the build.
set(PACKAGE_NAME "Atrinik Server")

# Disable optimization?
set(DISABLE_OPTIMIZING false)

# Disable turning code warnings into errors?
set(DISABLE_WARNING_ERRORS false)
