# This is the build configuration file.
#
# Here you can customize various settings of the server build.
#
# Note that if you are using the Bazaar branch repository, you might want
# to create a build.user file and override the defaults setting here in
# that file, as the build.user file will be ignored by Bazaar, thus your
# changes won't be committed to the repository.

# Version of the build.
set(PACKAGE_VERSION "3.5")

# Name of the build.
set(PACKAGE_NAME "Atrinik Server")

# Turn code warnings into errors?
set(ENABLE_WARNING_ERRORS false)

# Enable various extra warnings?
set(ENABLE_EXTRA_WARNINGS false)

# Enable aggressive warnings?
set(ENABLE_AGGRESSIVE_WARNINGS false)

# Custom warnings.
set(CUSTOM_WARNINGS)
