# This is the default configuration file - it contains many default
# values required for the server to start up correctly. Feel free to
# change these to suit your needs, however, if you're running the server
# from a repository clone, it is recommended to instead make a custom
# .cfg file and load it up with the --config command line option, in
# order to avoid accidentally committing changes to the default config,
# and to prevent needless merge conflicts in the future.
#
# Note that if running the server using the server.sh or server.bat script,
# options will automatically be read from server-custom.cfg file as well,
# if it exists.

[general]

# By default use port 1728.
port = 1728

# By default, bind to IPv4 and IPv6 on the loopback interfaces. If you're
# planning on running a public server, you will need to change these to
# 'ipv4, ipv6' -- depending on which IP protocols you want to run with.
#
# It is strongly recommended that you do not enable protocols you do not
# support routing for.
#
# It is also possible to specify 'dual' for dual-stack network systems
# (this may not be supported on some older systems), which *might* result
# in a slight performance boost, compared to running IPv4/IPv6 separately.
network_stack = ipv4=127.0.0.1, ipv6=::1

# Where the read-only files such as the collected treasures, artifacts,
# archetypes etc reside.
libpath = ./lib

# Where to read and write player data, unique maps, etc.
datapath = ./data

# Where the maps are.
mapspath = ../maps

# Where the HTTP server data is.
httppath = ./data/http

# Resource files.
resourcespath = ./resources

# Adjustment to maximum magical device level the player may use.
magic_devices_level = 10

# item_power_factor is the relation of how the players equipped item_power
# total relates to their overall level. If 1.0, then sum of the character's
# equipped item's item_power can not be greater than their overall level.
# If 2.0, then that sum can not exceed twice the character's overall level.
# By setting this to a high enough value, you can effectively disable
# the item_power code.
item_power_factor = 1.0

# Whether to reload Python user modules (eg Interface.py and the like)
# each time a Python script executes. If enabled, executing scripts will
# be slower, but allows for easy development of modules. This should not
# be enabled on a production server.
python_reload_modules = on

# Comma-delimited list of permission groups that every player will have
# access to, eg, '[MOD],[DEV]'. Use 'None' to disable.
default_permission_groups = [OP]

allowed_chars = account:4-16 [:alphaupper:] [:alphalower:] [:numeric:]
allowed_chars = charname:4-20 [:alphaupper:] [:alphalower:] [:numeric:] [:space:] ['-]
allowed_chars = password:6-20 [:print:] [:space:]

# Comma-delimited list of IPs that are allowed to use the control packet.
# Use 'None' to disable the control packet entirely.
control_allowed_ips = 127.0.0.1,::1

# Player name that should be used for executing the control tasks. If left
# unconfigured (blank), the first player that logged in will be used.
#control_player = Xxx

# Whether the HTTP server is on/off.
http_server = on

# URL of the HTTP server.
http_url = http://localhost:8080

# Store of public keys with ultimate trust.
# !!! DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING !!!
trusted_pin = <data/keys/atrinik1.pub
trusted_pin = <data/keys/atrinik2.pub
trusted_pin = <data/keys/atrinik3.pub
trusted_pin = <data/keys/atrinik4.pub
trusted_pin = <data/keys/atrinik5.pub

[meta]
# URL of the metaserver.
metaserver_url = https://meta.atrinik.org/index.wsgi

# Name of the server.
server_name = Atrinik Server

# Comment about the server. This should describe the server, its maintainer, etc.
server_desc = No description.

#
# Server's hostname. The DNS record for this domain must match that of the
# server's IP address.
#
#server_host = put.your.hostname.here

[crypto]
# Use port 1729 for crypto.
port_crypto = 1729
# Enables the socket cryptography sub-system
crypto = false
# List of supported elliptic curves, ordered by preference.
# Curve25519 is preferable, if available
crypto_curves = curve25519, prime256v1
# Specify location of the CA certificates bundle
crypto_cert_bundle = ca-bundle.crt
# Specify certificate to use
# crypto_cert = </xxx/cert.pem
# Specify certificate chain to use
# crypto_cert_chain = </xxx/chain.pem
# Specify private key of the certificate
# crypto_cert_key = </xxx/priv.pem
