#[Game1]
#host = some.atrinik-server.net
#port = 13327
#name = Nick
#pswd = password
#dmsay_commits = true
#delay = 1
#reconnect_timeout = 2
#admins = admin1,admin2,admin3

#[IRC1]
#host = irc.server.net
#port = 6667
#name = nickname
#pswd = password
#channels = channel1,channel2,channel3
#notify_commits = true
#delay = 1
#reconnect_timeout = 10

[General]
commits_check_delay = 600
#branches = branch_url1,branch_url2
max_kill_top = 10
who_delay = 150
sleep_time = 0.05

# Defines extra commands in the format of:
# x = "<regex>" <string>
# <string> may have {0} which will get transformed into the player's name
# who triggered the command.
[Commands]
1 = "^(?:hi|hey(?:a)?|h[aeu]llo|yo)$" Hello {0}. I'm a bot that provides various useful functions. If you want to know what I can do, please refer to atrinik.org -> Game Info -> Player Guide -> Atrinikbot.
